#server:
#  port: 8080

spring:
    neo4j:
#      : movies # neo4j 데스크톱에서 movies 데이터 베이스를 하나 만들어주자.
      uri: bolt://localhost:9001
#      uri: neo4j://localhost:7687
#      authentication:
#        username: neo4j
#        password: dkswowls
#      database: movies
      authentication:
        username: neo4j #디폴트 유저 네임이다. 따로 설정 안했으면 똑같이 적어줄것
        password: 1q2w3e4r!! #neo4j 데스크톱 콘솔에서 설정할 수 있다.
      database: feed
    redis:
      host: localhost
      port: 6379




logging:
  level:
    org:
      springframework:
        data:
          neo4j: DEBUG # 내부적으로 돌아가는 native cyperQuery를 로그로 찍어준다. 꼭 설정해주자.


