server:
  port: 4444

spring:
  application:
    name: chat-service #스프링 컨피그의 디렉토리명 과 일치해야 함
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false
    add-properties: false
  freemarker:
    cache: false


  jwt:
    secret: govlepel@$&

  redis:
    host: localhost
    port: 6379

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:tcp://localhost/~/test # test 부분을 자신이 원하는 것으로 바꾸시면 됩니다.
    username: sa # username과 password는 자신의 설정에 맞게
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop # 어플리케이션을 시작할 때 데이터베이스를 초기화하고 다시 테이블 생성
    properties:
      hibernate:
        format_sql: true # 실행되는 query를 보여줌

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    register-with-eureka: true # 유레카 서비스에 (자신을) 등록 여부
#    fetch-registry: true
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/

logging.level:
  org.hibernate.SQL: debug
