<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petmily">

    <application
        android:name=".GlobalApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petmily"
        tools:targetApi="31">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ztkfe47y3q" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".view.Activity_Chat"/>
        <activity android:name=".view.Activity_Make"/>
        <activity android:name=".view.Activity_Login"/>
        <activity android:name=".view.Activity_Join"/>
        <activity android:name=".view.Activity_Chat_Room"/>
        <service android:name=".viewModel.service.ChatService" />
        <activity android:name=".view.Activity_MakeProfile" />
        <activity android:name=".view.Activity_PetAppend"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service android:name=".viewModel.service.UndeadService"/>
        <receiver android:name=".viewModel.service.AlarmReceiver"/>


    </application>



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
</manifest>