<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<c:if test="${userId eq null}">
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=d2100d0b226da99419acbecfdfc7628c&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code">
        <img src="/img/kakao_account_login_btn_medium_wide_ov.png">
    </a>
</c:if>
<c:if test="${userId ne null}">
    <h1>로그인 성공입니다</h1>
    <input type="button" value="로그아웃" onclick="location.href='/logout'">
</c:if>
</body>

</html>