<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        With KaKao:  <a href="https://kauth.kakao.com/oauth/authorize?client_id=d2100d0b226da99419acbecfdfc7628c&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code">click here</a>
    </div>
    <div>
        With KaKao: <a href="https://kauth.kakao.com/oauth/authorize">click here</a>
    </div>
</div>
<div class="container">
    <h3>OAuth2 Login Demo</h3>
    <p>Login to HowToDoInJava:</p>
    <div>
        <div>
            With GitHub: <a href="/oauth2/authorization/github">click here</a>
        </div>
        <div>
            With Google: <a href="/oauth2/authorization/google">click here</a>
        </div>
        <div>
            With Facebook: <a href="/oauth2/authorization/facebook">click here</a>
        </div>
    </div>
</div>

</body>

</html>