server:
  port: 9090

spring:
  application:
    name: app
#  kafka:
#    bootstrap-servers: 121.187.22.37:9092
#    consumer:
#      enable-auto-commit: true
#      auto-offset-reset: latest
  #      group-id: waltergroup
#      auto-commit-interval: 1000msr #10초마다 커밋. 기본값 500ms(5초)
  data:
    mongodb:
      authentication-database: admin
      username: root
      password: root
      host: localhost
      port: 27017
      database: app_db
  redis:
    lettuce:
      pool:
        min-idle: 0
        max-idle: 8
        max-active: 8
    port: 6379
    host: localhost
#    password: mypassword
  devtools:
    livereload:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
feign:
  client:
    config:
      default:
        connect-timeout: 16000000
        read-timeout: 16000000