server:
  port: 9090

spring:
  kafka:
    bootstrap-severs:
      - localhost:9092
    consumer:
      enable-auto-commit: true
      auto-offset-reset: latest
#      group-id: waltergroup
#      auto-commit-interval: 1000ms #10초마다 커밋. 기본값 500ms(5초)
  data:
    mongodb:
      authentication-database: admin
      username: root
      password: root
      host: localhost
      port: 27017
      database: app_db
    redis:
      lettuce:
        pool:
          min-idle: 0
          max-idle: 8
          max-active: 8
      port: 6379
      host: localhost
  devtools:
    livereload:
      enabled: true

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG